body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(image/firinarkaplan.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


.cs1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    height: 130px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cs2 {
    display: flex;
    gap: 20px;
    margin-top: 45px;
    font-size: 20px;
}

.cs2 p {
    color: rgba(255, 255, 255, 0.9); 
    margin: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cs2 p:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}
.box{
    width: 30%;
    height: 290px;
    margin-left: 260px;
    margin-top: 70px;
}
.h1{
    font-size: 50px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lrm{
    font-size: 22px;
    color: white;
}
.button{
    background-color: rgb(97, 78, 17);
    padding: 27px;
    border-radius: 20px;
    color: aliceblue;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}
.button a{
    text-decoration: none;
    color:#fff
}
.button:hover {
    background-color: rgb(160, 168, 70); 
    color: black; 
}
.menu{ 
width: 300px;
height: 300px;
background-color: rgb(75, 74, 74);
margin: 10px;
background: linear-gradient(to bottom, #252424, #252424); 
transition: background-color 0.3s ease; 
border-radius: 18px;
}
.container2 {
    display: flex;
    margin-top: 350px;
    margin-left: 250px;
}
.menu:hover {
    background: linear-gradient(to bottom, #b4983c, #958d38);
    transition: background-color 0.2s ease;
}
.liv{
    margin-left: 100px;
    margin-bottom: 400px;
    color: white;
}
.res {
    width: 130px;
}
li {
    list-style-type: none;
}
.cur{
    margin-top: 60px;
    width: 130px;
}
.live{
    margin-left: 100px;
    margin-top: 20px;
    color: white;
}
.liver{
    margin-top: 30px;
    color: white;
    margin-left: 100px;
}
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.black-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center;
}

.item {
    text-align: center;
    margin: 10px;
}

.item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.item p {
    margin-top: 10px;
}